@use "sass:math";
@use "./fonts" as *;
@use "./variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @extend .font-14-16;
}

a:hover {
  text-decoration: underline;
}

// lil-gui.titleの長さを制限するため
.lil-gui.root > .children > .lil-gui > .title {
  overflow: hidden;
}